body {
    margin: 0;
    display: block;
}

/********** HEADER **********/
header {
    background-color: #004a70;
    height: 60px;
    display: flex;
}

#header_main_btn {
    padding-top: 20px;
    padding-left: 20px;
}

#header_main_btn_link {
    text-decoration: none;
    color: #EAFAF1;
    font-family: 'Poppins', sans-serif;
}

/********** MATERIAL LIST **********/
#material_list_ul {
    padding-left: 5px;
    margin: 0;
    height: 48px !important;
    align-items: center;
}

#material_list_food {
    list-style: none;
    height: 50px !important;
    padding-left: 3px;
}

#material_list_food_a {
    height: 50px !important;
    width: 103px !important;
    line-height: 24px !important;
    text-decoration: none;
    border-width: 0 1px 0 0;
    border-style: solid;
}

.material_list_text {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}